<div id="loginDiv">
  <h2>Login Form</h2>
  <form #myForm = 'ngForm'>
    Email:<input type="text"  [(ngModel)] = 'email' required ='required' pattern = '^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$'name = 'email' #control1='ngModel'><br>
    <span *ngIf = 'control1.invalid && control1.touched && control1.errors.required' class="error">Email cannot be blank</span>
    <span *ngIf = 'control1.invalid && control1.touched && control1.errors.pattern' class="error">invalid Email </span>

    Password:<input type="text" [(ngModel)] = 'password'required ='required' name="password" #control2><br>
    <input type="submit" value="Login" (click)='onLoginClick()'>
    {{message}}
  </form>
</div>
