<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-home></app-home>
<app-register></app-register>
<app-login></app-login>
<app-questions-view></app-questions-view>
<app-questions-index></app-questions-index>
<app-questions-new></app-questions-new> -->
<div id="header" >
<ul>
  <li>
    <a rounterLink="">Home</a>
  </li>
  <li>
    <a rounterLink="">Questions</a>
  </li>
  <li>
    <a rounterLink="">New Questions</a>
  </li>
  <li>
    <a rounterLink="">Login</a>
  </li>
  <li>
    <a rounterLink="">Register</a>
  </li>
</ul>
</div>
<div id="pageContent" >

</div>
<div id="footer" >

</div>


<router-outlet></router-outlet>
