<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-home></app-home>
<app-register></app-register>
<app-login></app-login>
<app-questions-view></app-questions-view>
<app-questions-index></app-questions-index>
<app-questions-new></app-questions-new> -->
<div id="header" >
<ul>
  <li>
    <a routerLink = "/home" routerLinkActive="active">Home</a>
  </li>
  <li>
    <a routerLink = "/questions">Questions</a>
  </li>
  <li>
    <a routerLink = "/newquestion">New Questions</a>
  </li>
  <li>
    <a routerLink = "/login">Login</a>
  </li>
  <li>
    <a routerLink = "/register">Register</a>
  </li>
  <li>
    <a routerLink = "/viewquestion">View Question</a>
  </li>
</ul>
</div>
<div id="pageContent" >
  <router-outlet></router-outlet>
</div>
<div id="footer" >

</div>



